.heroBanner {
  position: relative;
  text-align: center;
  overflow: hidden;
  flex: 1;
  padding: 2em;
}

.title {
  font-size: 3rem;
  color: #fff;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-heading-color);
}

.banner {
  max-width: 300px;
}

